Django==6.1
gunicorn==26.0.0
nltk==3.10.0
numpy==2.5.1
psycopg2==2.9.12
Pyrebase4==4.9.0
scipy==1.18.0
scikit-learn==1.9.0
setuptools==83.0.0
tmdbv3api==1.9.0
tweet-preprocessor==0.6.0
TwitterSearch==1.0.2
twython==3.9.1
whitenoise==6.12.0
rsa>=4.9.1 # not directly required, pinned by Snyk to avoid a vulnerability
