Django==4.0.4
gunicorn==20.1.0
nltk==3.7
numpy==1.22.4
psycopg2==2.9.3
pyrebase==3.0.27
scipy==1.8.0
scikit-learn==1.1.1
tmdbv3api==1.7.6
tweet-preprocessor==0.6.0
TwitterSearch==1.0.2
twython==3.9.1
whitenoise==6.1.0
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability