{% extends 'main.html' %}

{% block content %}
<div id="findsenti" class="row">
    <h2>Search Movie</h2>
    <form action="{% url 'search' %}" method="POST">
        {% csrf_token %}
        {{forms}}
        <input class="btn" type="submit" value="search">
    </form>
</div>

<div id="trending" class="row">
    <h2>Trending Film</h2>
    <div class="trending-result">
        <ul v-if="movies.length > 0" class="collapsible">
            <li v-for="movie in movies" v-bind:key="movie.id">
                <div class="collapsible-header">[[movie.title]]</div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s12 m4 l2">
                            <img class="materialboxed responsive-img" src="[[imageBase]][[movie.poster_path]]">
                        </div>
                        <div class="col s12 m8 l4">
                            <h4>[[ movie.title ]]</h4>
                            <h5>Overview</h5>
                            <p>[[ movie.overview ]]</p>
                            <h5>Release Date</h5>
                            <p>[[ movie.release_date]]</p>
                        </div>
                        <div class="col s12 m12 l6">
                            <canvas id="trend-[[ movie.id ]]"></canvas>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <p v-else>
            Empty
        </p>
    </div>
</div>
{% endblock %}

{% block describeFunction %}
<script type="text/javascript">
    mountFunction = function () {
        const apiUrl = "{{ url_film }}";
        const imageBase = "{{ imageBase }}";
        this.imageBase = imageBase;
        window.axios.get(apiUrl).then((response) => {
            const responseData = response.data;
            const movies = responseData.movies;
            this.movies = movies;
            Vue.nextTick().then(() => {
                console.log('Next Tick')
                initChart(this.movies);
            }).catch((errorNext) => {
                console.log(errorNext);
            });
        }).catch((error) => {
            console.log(error);
        });
    }

    function initChart(movies) {
        if (!Array.isArray(movies)) {
            return;
        }
        movies.forEach((element) => {
            const documentId = document.getElementById(`trend-${element.id}`);
            if (!documentId) {
                return;
            }
            const ctx = documentId.getContext('2d');
            const data = {
                datasets: [{
                    data: [Math.floor((Math.random() * 100) + 1), Math.floor((Math.random() * 100) + 1), Math.floor((Math.random() * 100) + 1)],
                    backgroundColor: ["#00ff00", "#ff0000"],
                    label: `${element.title}`
                }],
                // These labels appear in the legend and in the tooltips when hovering different arcs
                labels: [
                    'Like',
                    'Dislike',
                    'Unknown'
                ]
            };
            const options = {
                title: {
                    display: true,
                    text: `${element.title}`
                }
            };
            const myPieChart = new Chart(ctx, {
                type: 'pie',
                data: data,
                options: options
            });
        });
    }
</script>
{% endblock %}