{% extends 'main.html' %}

{% block content %}
<div id="findsenti" class="row">
    <h2>Search Movie</h2>
    <form action="{% url 'search' %}" method="POST">
        {% csrf_token %}
        {{forms}}
        <input class="btn" type="submit" value="search">
    </form>
</div>

<div id="trending" class="row">
    <h2>Trending Film</h2>
    <div class="trending-result">
        <film-list v-bind:filmData="movies" imageBase="{{image_base}}"></film-list>
    </div>
</div>
{% endblock %}

{% block describeFunction %}
<script type="text/javascript">
    mountFunction = function () {
        const apiUrl = "{{ url_film }}";
        window.axios.get(apiUrl).then((response) => {
            const responseData = response.data;
            const movies = responseData.movies;
            console.log(`Before: ${JSON.stringify(app.movies)}`)
            app.movies = movies;
            console.log(`After: ${JSON.stringify(app.movies)}`)
            Vue.nextTick(function () {
                console.log(`Next Tick: ${JSON.stringify(app.movies)}`)
                initChart(app.movies);
            });
        }).catch((error) => {
            console.log(error);
        });
    }

    function initChart(movies) {
        if (!Array.isArray(movies)) {
            return;
        }
        movies.forEach((element) => {
            const documentId = document.getElementById(`trend-${element.id}`);
            if (!documentId) {
                return;
            }
            const ctx = documentId.getContext('2d');
            const data = {
                datasets: [{
                    data: [Math.floor((Math.random() * 100) + 1), Math.floor((Math.random() * 100) + 1), Math.floor((Math.random() * 100) + 1)],
                    backgroundColor: ["#00ff00", "#ff0000"],
                    label: `${element.title}`
                }],
                // These labels appear in the legend and in the tooltips when hovering different arcs
                labels: [
                    'Like',
                    'Dislike',
                    'Unknown'
                ]
            };
            const options = {
                title: {
                    display: true,
                    text: `${element.title}`
                }
            };
            const myPieChart = new Chart(ctx, {
                type: 'pie',
                data: data,
                options: options
            });
        });
    }
</script>
{% endblock %}